@page
@using Microsoft.AspNetCore.Identity
@using System.Collections.Specialized
@model dotnet_kp.Pages.Admin.AdminModel

@{
    ViewData["Title"] = "Admin Panel";
    Layout = "Shared/_Layout";

}

<div class="col py-3">
    Админ панель
</div>