<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/dotnet_kp.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>

</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Admin Dashboard</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a asp-page="/Admin/Index" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Models</span>
                        </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a asp-page="/Admin/Categories/Index" class="nav-link px-0">
                                    <span class="d-none d-sm-inline">- Categories</span>
                                </a>
                            </li>
                            <li>
                                <a asp-page="/Admin/Orders/Index" class="nav-link px-0">
                                    <span class="d-none d-sm-inline">- Orders</span>
                                </a>
                            </li>
                            <li>
                                <a asp-page="/Admin/OrderItems/Index" class="nav-link px-0">
                                    <span class="d-none d-sm-inline">- OrderItems</span>
                                </a>
                            </li>
                            <li>
                                <a asp-page="/Admin/Products/Index" class="nav-link px-0">
                                    <span class="d-none d-sm-inline">- Products</span>
                                </a>
                            </li>
                            <li>
                                <a asp-page="/Admin/Users/Index" class="nav-link px-0">
                                    <span class="d-none d-sm-inline">- Users</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">@User.Identity.Name</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        
                        <li>
                            <form method="post" id="formSignOut">
                            <a class="dropdown-item" id="signOut" href="#">Sign out</a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @RenderBody();
    </div>
</div>

<script src="~/lib/popper/popper.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>