@page
@model dotnet_kp.Pages.AccessDenied

@{
    Layout = null;
}

 <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/dotnet_kp.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>

<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
</head>
<body class="d-flex justify-content-center align-items-center flex-column w-100 vh-100">
<h1>Access Denied</h1>
<p>You don't have permission to access this page.</p>
</body>
</html>